.search-box {
  margin-top: 2rem;
  text-align: center;
  width: 100%;

  &__input {
    padding: 0.5rem;
    border-radius: 0.1rem;
    border: 2px solid rgba(0, 0, 0, 0.63);
    outline: none;
    appearance: none;
    background-color: rgba(255, 255, 255, 0.774);

    font-size: 20px;
    color: #313131;
    transition: 0.4s ease;

    &:focus {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
}
